.user-profile {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.user-activities {
  padding: 20px;
}

.user-activities ul {
  list-style-type: none;
  padding: 0;
}

.user-activities li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.user-dashboard {
  padding: 20px; /* Your regular styling for the dashboard */
}
